.newslatter {
  background: #cae5f4;
  padding: 0;
  margin-top: 3rem;
}

.newslatter__img img {
  width: 100%;
}

.newslatter__content {
  padding: 50px 0;
}

.newslatter__content h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.newslatter__input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 0.5rem;
  margin-bottom: 2rem;
  border-radius: 5px;
}

.newslatter__input input {
  border: none;
  font-size: 1rem;
  color: var(--heading-color);
}

.newslatter__input input:focus {
  outline: none;
}

.newslatter__btn {
  padding: 0.5rem 1.5rem !important;
  background: var(--secondary-color) !important;
  color: #fff !important;
  font-size: 1.1rem !important;
}

.newslatter__content p {
  color: var(--heading-color);
  font-size: 1.1rem;
}

@media only screen and (max-width: 992px) {
  .newslatter__content h2 {
    font-size: 2rem;
  }
  .newslatter__img {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .newslatter__content h2 {
    font-size: 1.5rem;
  }

  .newslatter__content p {
    display: none;
  }
}
